<a href="https://colab.research.google.com/github/O-Kpy/Dacon/blob/main/%EC%8B%A4%EA%B8%B0_%EC%9C%A0%ED%98%952.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [170]:
x_train = pd.read_csv('/content/drive/MyDrive/dataset/실기_X_train.csv', encoding='cp949')
y_train = pd.read_csv('/content/drive/MyDrive/dataset/실기_y_train.csv', encoding='cp949')
x_test = pd.read_csv('/content/drive/MyDrive/dataset/실기_X_test.csv', encoding='cp949')

In [171]:
train = pd.concat([x_train, y_train.drop(columns='cust_id')], axis=1)
train

      cust_id       총구매액     최대구매액       환불금액  ...   내점당구매건수    주말방문비율  구매주기  gender
0           0   68282840  11264000  6860000.0  ...  3.894737  0.527027    17       0
1           1    2136000   2136000   300000.0  ...  1.500000  0.000000     1       0
2           2    3197000   1639000        NaN  ...  2.000000  0.000000     1       1
3           3   16077620   4935000        NaN  ...  2.444444  0.318182    16       1
4           4   29050000  24000000        NaN  ...  1.500000  0.000000    85       0
...       ...        ...       ...        ...  ...       ...       ...   ...     ...
3495     3495    3175200   3042900        NaN  ...  2.000000  1.000000     0       1
3496     3496   29628600   7200000  6049600.0  ...  1.625000  0.461538    40       1
3497     3497      75000     75000        NaN  ...  1.000000  0.000000     0       0
3498     3498    1875000   1000000        NaN  ...  1.000000  0.000000    39       0
3499     3499  263101550  34632000  5973000.0  ...  2.421053  0.467391     8       0

[3500 rows x 11 columns]

In [147]:
train.isnull().sum()

cust_id     0
총구매액        0
최대구매액       0
환불금액        0
주구매상품       0
주구매지점       0
내점일수        0
내점당구매건수     0
주말방문비율      0
구매주기        0
gender      0
내점비율        0
환불액/총구매액    0
환불여부        0
dtype: int64

In [146]:
x_test.isnull().sum()

총구매액        0
최대구매액       0
환불금액        0
주구매상품       0
주구매지점       0
내점일수        0
내점당구매건수     0
주말방문비율      0
구매주기        0
내점비율        0
환불액/총구매액    0
환불여부        0
dtype: int64

In [172]:
train['환불금액'] = train['환불금액'].fillna(0)
x_test['환불금액'] = x_test['환불금액'].fillna(0)

In [173]:
# 일년동안 내점 비율
train['내점비율'] = train['내점일수'] / 365 * 100
x_test['내점비율'] = x_test['내점일수'] / 365 * 100

In [174]:
# 환불액/총구매액
train['환불액/총구매액'] = train['환불금액']/train['총구매액']
x_test['환불액/총구매액'] = x_test['환불금액']/x_test['총구매액']

In [175]:
# 환불 여부
train.loc[train['환불금액']==0, '환불여부'] = 0
train.loc[train['환불금액']!=0, '환불여부'] = 1
x_test.loc[x_test['환불금액']==0, '환불여부'] = 0
x_test.loc[x_test['환불금액']!=0, '환불여부'] = 1

In [176]:
train['환불금액'] = train['환불금액'].astype('int')
x_test['환불금액'] = x_test['환불금액'].astype('int')

In [89]:
train.corr()

           cust_id      총구매액     최대구매액  ...      내점비율  환불액/총구매액      환불여부
cust_id   1.000000 -0.008004 -0.005883  ... -0.025234 -0.007046 -0.013090
총구매액     -0.008004  1.000000  0.700080  ...  0.659084 -0.017077  0.403357
최대구매액    -0.005883  0.700080  1.000000  ...  0.374147  0.006192  0.330687
환불금액      0.033116  0.467686  0.429504  ...  0.377570  0.016959  0.380108
내점일수     -0.025234  0.659084  0.374147  ...  1.000000 -0.016641  0.498958
내점당구매건수  -0.004840  0.090022  0.018980  ...  0.225264 -0.021293  0.063000
주말방문비율    0.001900  0.014396  0.022277  ... -0.010325 -0.015164 -0.008775
구매주기      0.020070 -0.212944 -0.115837  ... -0.293200  0.029798 -0.204851
gender   -0.001994 -0.150141 -0.114323  ... -0.155000 -0.022796 -0.202456
내점비율     -0.025234  0.659084  0.374147  ...  1.000000 -0.016641  0.498958
환불액/총구매액 -0.007046 -0.017077  0.006192  ... -0.016641  1.000000  0.064045
환불여부     -0.013090  0.403357  0.330687  ...  0.498958  0.064045  1.000000

[12 rows x 12 columns]

In [177]:
x_train = train.drop(columns=['cust_id', 'gender'])
y_train = train['gender']
x_test = x_test.drop(columns=['cust_id'])
x_train.shape, y_train.shape, x_test.shape

((3500, 12), (3500,), (2482, 12))

In [178]:
for i in x_train.columns:
  if x_train[i].dtype == 'object':
    continue
  x_train[i] = np.log1p(x_train[i]+1)

for i in x_test.columns:
  if x_test[i].dtype == 'object':
    continue
  x_test[i] = np.log1p(x_test[i]+1)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:726: RuntimeWarning: invalid value encountered in log1p
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [167]:
from sklearn.preprocessing import MinMaxScaler
for i in x_train.columns:
  if x_train[i].dtype == 'object':
    continue
  x_train[i] = MinMaxScaler().fit_transform(x_train[[i]])
  x_test[i] = MinMaxScaler().fit_transform(x_test[[i]])

ValueError: ignored

In [27]:
pip install catboost

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/5a/41/24e14322b9986cf72a8763e0a0a69cc256cf963cf9502c8f0044a62c1ae8/catboost-0.26-cp37-none-manylinux1_x86_64.whl (69.2MB)
     |████████████████████████████████| 69.2MB 50kB/s
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-0.26

In [31]:
import catboost
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import roc_auc_score, classification_report, plot_confusion_matrix

In [179]:
skf = StratifiedKFold(n_splits=7, shuffle=True, random_state=42)
cat_features = x_train.select_dtypes('object').columns
preds_test = np.zeros((len(x_test)))

for i, (train_index, valid_index) in enumerate(skf.split(x_train, y_train)):
  X_train, X_valid = x_train.iloc[train_index], x_train.iloc[valid_index]
  Y_train, Y_valid = y_train.iloc[train_index], y_train.iloc[valid_index]

  model_cat = catboost.CatBoostClassifier(n_estimators=3000, learning_rate=0.05, cat_features=cat_features, eval_metric='AUC')
  model_cat.fit(X_train, Y_train, eval_set=[(X_train, Y_train), (X_valid, Y_valid)], verbose=100, early_stopping_rounds=70)

  preds_valid = model_cat.predict_proba(X_valid)[:,1]
  roc_auc = roc_auc_score(Y_valid, preds_valid)
  print(f'{i+1}번째 AUC 값은:{roc_auc} ')

0:	test: 0.6567742	test1: 0.6524993	best: 0.6524993 (0)	total: 8.69ms	remaining: 26.1s
100:	test: 0.7582820	test1: 0.7070888	best: 0.7103962 (77)	total: 807ms	remaining: 23.2s
Stopped by overfitting detector  (70 iterations wait)

bestTest = 0.7103962084
bestIteration = 77

Shrink model to first 78 iterations.
1번째 AUC 값은:0.7103962084015274
0:	test: 0.6479573	test1: 0.6743470	best: 0.6743470 (0)	total: 17.2ms	remaining: 51.5s
100:	test: 0.7462903	test1: 0.7164143	best: 0.7167042 (99)	total: 793ms	remaining: 22.8s
Stopped by overfitting detector  (70 iterations wait)

bestTest = 0.7187329514
bestIteration = 112

Shrink model to first 113 iterations.
2번째 AUC 값은:0.7187329514457172
0:	test: 0.6558058	test1: 0.6450406	best: 0.6450406 (0)	total: 8.58ms	remaining: 25.7s
Stopped by overfitting detector  (70 iterations wait)

bestTest = 0.7065858565
bestIteration = 6

Shrink model to first 7 iterations.
3번째 AUC 값은:0.7065858565193671
0:	test: 0.6652656	test1: 0.5825661	best: 0.5825661 (0)	total: 8.27ms	remaining: 24.8s
Stopped by overfitting detector  (70 iterations wait)

bestTest = 0.6539143481
bestIteration = 20

Shrink model to first 21 iterations.
4번째 AUC 값은:0.6539143480632842
0:	test: 0.6549943	test1: 0.6420571	best: 0.6420571 (0)	total: 8.14ms	remaining: 24.4s
100:	test: 0.7661833	test1: 0.6594296	best: 0.6635894 (72)	total: 757ms	remaining: 21.7s
Stopped by overfitting detector  (70 iterations wait)

bestTest = 0.6635894026
bestIteration = 72

Shrink model to first 73 iterations.
5번째 AUC 값은:0.663589402618658
0:	test: 0.6650246	test1: 0.5794292	best: 0.5794292 (0)	total: 8.68ms	remaining: 26s
100:	test: 0.7555484	test1: 0.6499250	best: 0.6503512 (96)	total: 739ms	remaining: 21.2s
Stopped by overfitting detector  (70 iterations wait)

bestTest = 0.6503512002
bestIteration = 96

Shrink model to first 97 iterations.
6번째 AUC 값은:0.6503512002182215
0:	test: 0.6539662	test1: 0.6569405	best: 0.6569405 (0)	total: 7.89ms	remaining: 23.7s
Stopped by overfitting detector  (70 iterations wait)

bestTest = 0.6811153164
bestIteration = 3

Shrink model to first 4 iterations.
7번째 AUC 값은:0.6811153164211675

In [169]:
pd.Series(model_cat.feature_importances_, index=x_train.columns).sort_values(ascending=False)

주구매상품       22.577444
환불여부        16.670255
주말방문비율      14.611653
최대구매액       12.794835
내점일수        12.431888
환불액/총구매액     8.144926
내점비율         5.666736
내점당구매건수      4.813042
총구매액         2.289221
구매주기         0.000000
주구매지점        0.000000
환불금액         0.000000
dtype: float64